<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/imgs/ukg.png" class="img-responsive">
      <div class="logo-text">
        Our Purpose is People
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

          <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>

        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="/TabsData" routerLinkActive="active" ariaCurrentWhenActive="page">Tabular Structure</a>

        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="/HierarchyData" routerLinkActive="active" ariaCurrentWhenActive="page">Hierarchy Structure</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documents</a>
        </li>
        <li class="nav-item">
        
            <button class="btn btn-login btn-login">Login</button>
         
        </li>


      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
