<div class="wrapper">
    <div class="main-banner">
      <div class="bg-overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="about-ukg">
                <h1>Learn About What UKG is!</h1>
                <div class="sub-heading">
                  <h3>Our Purpose is People</h3>
                </div>
                  <div class="read-more-btn">
                    <button class="btn btn-primary">Read More</button>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- About Us Section -->
<section class="about-us-section" id="about">

    

    

  <div class="container">
      <div class="row justify-content-center align-items-center">
          
          <div class="col-sm-12 text-block col-md-7">
              <!-- <div class="text-box">
                   BAKING</div> -->
              <h3 class="about-heading"><strong>
                  About UKG</strong>
                </h3>
              <div class="about-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam cum facilis explicabo mollitia, fugiat suscipit impedit illum inventore iste aut minus porro numquam at, esse quas sapiente pariatur? Distinctio earum aperiam, adipisci provident, fugit error ut ab illo quaerat at veniam sit ipsum praesentium ipsam illum? Corporis, explicabo at. Ex aspernatur iusto ipsum doloribus nisi totam ea? Minima nam commodi, eius expedita quos temporibus explicabo quo earum sapiente reiciendis porro accusamus nostrum doloremque, fugit eaque amet nesciunt dignissimos vel possimus, nisi iusto suscipit! Ad impedit provident, modi recusandae iusto maxime sed sint fugit vel id temporibus ipsum nulla, vitae numquam?
                  <br>
                </div>
          </div>
          <div class="col-sm-12 col-md-5 img-block align-center">
              <div class="mbr-figure">
                  <img src="../../assets/imgs/about-us.png" alt="Mobirise" title="">
              </div>
          </div>
      </div>
  </div>
</section>